@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-3xl font-bold lg:text-5xl;
    }

    h2 {
        @apply text-xl font-bold lg:text-3xl;
    }

    button {
        @apply px-3 py-1 !bg-red-200 rounded-md shadow-red-200 shadow-sm hover:shadow-red-200 hover:shadow-md transition-shadow;
    }
}
